<!DOCTYPE html>
<html lang="en">

<head>
	<title>Hermes - Magia y Tecnología APP {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1>twauth-web</h1>
		{% block containercontent %}{% endblock %}
		<hr>
		<div class="footer">
			<p class="text-muted"><small>OAuth desarrollado por  <a href="https://twitter.com/josarthas">@josarthas</a>
					Está escrito en Python, tomando como base <a href="http://flask.pocoo.org/">Flask</a>
					y <a href="https://github.com/simplegeo/python-oauth2">python-oauth2</a>. CSS básico provisto por <a href="http://getbootstrap.com/">Bootstrap</a>.
					El código fuente base está en: <a href="https://github.com/twitterdev/twauth-web">github/twitterdev/twauth-web</a>.</small></p>
		</div>
	</div>
</body>

</html>
