{% extends "base.html" %}
{% block title %}success{% endblock %}
{% block containercontent %}
<h2>Éxito</h2>
<p>Gracias, <strong>{{ name }}</strong>, por autorizar un token de acceso para <a href="https://twitter.com/{{ screen_name }}">@{{
		screen_name }}</a>. Hemos confirmado que nos autorizas el uso de tu cuenta y te damos unos datos para confirmarlo</p>
<p>La API de Twitter nos ha devuelto ésto::</p>
<ul>
	<li>Has twitteado <span class="label label-success">{{ statuses_count }}</span> veces.</li>
	<li>Tienes <span class="label label-success">{{ followers_count }}</span> seguidores.</li>
	<li>Sigues a <span class="label label-success">{{ friends_count }}</span> cuentas.</li>
</ul>
<p>Nos quedaremos con una copia de tus tokens de acceso para poder usar tu cuenta en el futuro, puedes revocar el acceso que nos otorgaste cuando quieras, <a
	 href="https://twitter.com/settings/applications">aquí</a></p>
<a href="/logintw" class="btn btn-small btn-primary">Inicio</a>
<hr>
<div class="bg-info" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
	<p><strong>¿Qué hicimos?</strong></p>
	<p>Te enviamos a una <a href="https://developer.twitter.com/en/docs/basics/authentication/api-reference/authorize"><strong>URL de autorización</strong></a>
		en Twitter que incluye el token temporal. Cuando nos autorizaste, Twitter te regresó aquí mediante un enlace autorizado configurado en la aplicación, cuando llamamos <a href="https://developer.twitter.com/en/docs/basics/authentication/api-reference/access_token"><strong>{{
				access_token_url }}</strong></a> al endpoint con nuestros tokens de acceso a la aplicación. Usamos esa información para guardarla y así utilizar tu cuenta en un futuro.</p>
</div>
{% endblock %}
