{% extends "base.html" %}
{% block containercontent %}
<p class="lead">Bienvenido a la entrada de la APP Magia y Tecnología, introduce los datos de la cuenta de twitter en los siguientes pasos</p>
<div class="hero-unit">
	<p>Autorizaremos a Magia y Tecnología para acceder a tu cuenta de Twitter
		mediante el protocolo <a href="https://developer.twitter.com/en/docs/basics/authentication/overview/oauth">OAuth</a>
		</p>
	<p>En resumen:</p>
	<ol>
		<li>Generaremos un token OAuth, que enviaremos a Twitter para garantizar el acceso</li>
		<li>Te redirigiremos a la página principal de Twitter para que inicies sesión</li>
		<li>Ahí autorizarás a nuestra APP (Magia y Tecnología) para usar tu cuenta</li>
		<li>Consumiremos los parámetros OAuth para terminar de realizar la conexión entre Twiter y nosotros
			Usando esos valores, obtendremos tus tokens de Acceso.</li>
		<li>Finalmente, para confirmar que todo está en orden y fuimos autorizados, haremos una llamada a la API de Twitter para obtener información básica sobre tu cuenta
			y te mostraremos esos datos aquí</li>
	</ol>
</div>
<p>¿Continuar?</p>
<a href="/start" class="btn btn-small btn-success">Iniciar sesión</a>
{% endblock %}
